<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzvqO6mXbjot4ZPgOAU55WUao8vQ46jSU</string>
	<key>GCM_SENDER_ID</key>
	<string>453009814944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.login.logingoogle</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin-859a5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin-859a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453009814944:ios:88a46dea9c3805a65360c5</string>
</dict>
</plist>